*.pyc
.vscode
venv/
temp/
config/

/*.json
.env
/Valorant-DiscordBot.code-workspace
/heatmap.png
/*.png
.env


/data/article.json
/data/cache.json
/data/conv.json
/data/emoji.json
/data/notifys.json
/data/users.json